:root {
    --dark-gray-blue: hsl(217, 19%, 35%);
    --light-gray-blue: hsl(210, 48%, 91%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --gray-blue: hsl(212, 23%, 69%);
    --white: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Manrope';
    height: 100vh;
    background-color: var(--light-gray-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 71vh;
    background-color: var(--white);
    border-style: clear;
    border-radius: 10px;
    overflow: hidden;
}
.img-container img {
    height: 23vh;
    object-fit: cover;
}
.drawers {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header {
    color: var(--dark-gray-blue);
    font-size: 1.2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}
.description {
    color: var(--desaturated-dark-blue);
    font-size: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}
.publication-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 3.5rem;
    gap: 0rem;
    display: show;
}
.publication-info-hide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 3.5rem;
    gap: 0rem;
    display: none;
}
.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.name-and-date h2 {
    font-size: 1rem;
}
.name-and-date p {
    font-size: 1rem;
}
.author-name {
    color: var(--dark-gray-blue);
}
.date {
    color: var(--gray-blue);
}
.share-show {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    margin-left: 3rem;
}
.pop-up {
    width: 100%;
    padding: 1.7rem;
    background-color: var(--dark-gray-blue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
}
.pop-up-shown {
    width: 100%;
    padding: 1.7rem;
    background-color: var(--dark-gray-blue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: show;
}
.pop-text {
    margin-right: 1rem;
    display: inline;
}
.facebook-icon {
    height: 100%;
    background-color: var(--dark-gray-blue);
    margin-right: 1rem;
    border-style: none;
}
.twitter-icon {
    height: 100%;
    background-color: var(--dark-gray-blue);
    margin-right: 1rem;
    border-style: none;
}
.pinterest-icon {
    height: 100%;
    background-color: var(--dark-gray-blue);
    margin-right: 5rem;
    border-style: none;
}
.share-hide {
    height: 2rem;
    width: 2rem;
    background-color: red;
    border-radius: 50%;
    border: none;
}
a {
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
.attribution {
    font-size: .8rem;
    position: fixed;
    bottom: 0;
}