:root {
    --light-gray-blue: hsl(210, 48%, 91%);
    --white: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: var(--light-gray-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 75vw;
    height: 75vh;
    background-color: var(--white);
    border-style: clear;
    border-radius: 10px;
}
.drawers {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text-body {
    margin: 2rem;
}
.header {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.description {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.attribution {
    position: fixed;
    bottom: 0;
}